* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#FAFAFA;
}
.page-header{
    height: 69px;
    width: 1440px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:sticky;
}

.name {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    display:flex;
    justify-content:center;
    padding-top: 13px;
}
.main-content{
    margin-left: 194px;
}
.upper-box{
    height: 181px;
    width: 1051px;
    left: 194px;
    top: 146px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    background-color:#FAFAFA;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 77px;
 }
.first-line {
    height: 107px;
    width: 250px;
    margin-top:7px;
    display:flex;
    align-items: center; 
}
.noquizzyet{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #B9B9B9;
}
.create-quizz{
    height: 40px;
    width: 151px;
    border-radius:50px;
    border: 1px dashed #EC362D;
    background-color: #FAFAFA;
}
.creating-quizz{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC362D;
}
.title{
    margin-top: 77px;
    color: #000000;
}
.all-quizzes{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    
}
.your-quizzes{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}
.add-vector{
    height: 30px;
    width: 31px;
    border-radius:500px; 
    background-color:#EC362D;
}
.quizzes{
    display:flex;
    flex-wrap: nowrap;
}
.quizz{
    margin-top:12px;
    margin-right: 15px;
    height: 181px;
    width: 340px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}
.footer{
    height:211px;
}
